<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>维修申请</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<script src="/static/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script th:inline="none">
    layui.config({
        version: '1584613945938' //为了更新 js 缓存，可忽略
    });

    layui.use(['layedit','laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var laydate = layui.laydate //日期
            ,layedit = layui.layedit
            ,laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,form = layui.form //表单
            ,carousel = layui.carousel //轮播
            ,upload = layui.upload //上传
            ,element = layui.element //元素操作
            ,slider = layui.slider //滑块
        //加载富文本
        layedit.set({
            uploadImage: {
                url: '/upload' //接口url
                ,type: 'post' //默认post\
                ,success:function(res){
                    console.log(res)
                }
            }
        });
        var index = layedit.build('details',{
            tool: [
                'strong' //加粗
                ,'italic' //斜体
                ,'underline' //下划线
                ,'del' //删除线

                ,'|' //分割线

                ,'left' //左对齐
                ,'center' //居中对齐
                ,'right' //右对齐
                ,'link' //超链接
                ,'unlink' //清除链接
                ,'face' //表情
                ,'image' //插入图片
                ,'help' //帮助
            ]
        });
        form.render(null, 'component-form-element');
        //自定义验证
        form.verify({
            faultDescription:function (value) {
                layedit.sync(index);
            }
        });
        //下拉框初始化(类型)
        $.ajax({
            url: '/merchantorder/allWorktype.do',
            dataType: 'json',
            type: 'post',
            contentType:'application/json',
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#worktypeid').append(new Option(item.workname,item.worktypeid));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })
        //添加按钮触发
        form.on('submit(AddformDemo)', function(data){
            var loginLoadIndex = layer.load(2);
            $.ajax({
                type:'post',
                url:'/merchantorder/applymtx.do',
                dataType:'json',
                data:JSON.stringify(data.field),
                contentType:'application/json',
                success:function (data) {
                    layer.close(loginLoadIndex);
                    if (data.status == "200"){
                        layer.alert('提交成功,请耐心等待',function () {
                            //刷新页面
                            location.reload();
                        });


                    }else{
                        layer.close(loginLoadIndex);
                        layer.alert("提交失败");
                        $('#loginBtn').val("立即提交");
                    }
                },
                error:function () {
                    layer.close(loginLoadIndex);
                    layer.alert("网络不佳，请稍后重试");
                    $('#formDemo').val("正在提交中...");
                }
            });
            return false;
        })
    });
</script>
<!--thymleaf 标签用法-->
<!--<div th:text="${session.login.merchantname}"></div>-->
<div style="padding: 20px; background-color: #F2F2F2;max-height: 100%">
    <div class="layui-card">
        <form class="layui-form" lay-filter="component-form-element">
            <div class="layui-form-item">
                <input type="text" hidden th:value="${session.login.merchantid}" name="merchantid" id="merchantid" >
                <label class="layui-form-label">报修人</label>
                <div class="layui-input-block">
                    <input type="text" name="applyName" required th:value="${session.login.mtname}" readonly lay-verify="=required" placeholder="请输入申请人" autocomplete="off" class="layui-input" id="applyName">
                    <span id="applynameSpan"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">报修类型</label>
                <div class="layui-input-block">
                    <select name="worktypeid" id="worktypeid" lay-verify="required">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商店名称及具体地点</label>
                <div class="layui-input-block">
                    <input type="text" name="shopName" required th:value="${session.login.merchantname}"  lay-verify="=required" placeholder="请输入商店名称及具体地点" autocomplete="off" readonly class="layui-input" id="shopName">
                    <span id="shopnameSpan"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-block">
                    <input type="text" name="tel" required th:value="${session.login.tel}"  lay-verify="=required" placeholder="联系电话" autocomplete="off" class="layui-input" id="tel" readonly>
                    <span id="telSpan"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">预约时间</label>
                <div class="layui-input-block">
                    <input type="text" name="reserveTime" required  lay-verify="=required" placeholder="请输入预约时间" autocomplete="off" class="layui-input" id="reserveTime">
                    <span id="reservetimeSpan"></span>
                </div>
            </div>
            <div>
                <label class="layui-form-label">故障详情</label>
                <div class="layui-input-block">
                    <textarea name="faultDescription" id="details" style="display: none;" lay-verify="faultDescription"></textarea>
                </div>
            </div>
            <div class="layui-form-item" >
                <div class="layui-input-block" >
                    <a class="layui-btn" lay-submit lay-filter="AddformDemo" >立即提交</a>
                    <button type="reset" class="layui-btn layui-btn-primary"  >重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>